@page "/Alertas"
<h3>Alertas</h3>

<div class="alert alert-danger alert-dismissible" role="alert">
  Como é dificil fazer um ALERT funcionar!
  <button class="btn-close" data-bs-dismiss="alert" />
</div>




@code {

}
