@page "/testejs"
@inject IJSRuntime js

<label>Rota:</label>
<input type="text" @bind="rota" />
<button class="btn btn-primary" @onclick="Alerta"> Navegar </button>

@code {
    public string? rota;

    private async Task Alerta()
    {
        await js.InvokeVoidAsync("SaveToSessionStorage","rotaretorno","/testejs");
        await js.InvokeVoidAsync("NavegarPara", rota);
        await js.InvokeVoidAsync("alert", "###ERRO - Não navegou de imediato - ERRO### ");
    }
}