<h3>Mensagens</h3>

        <!-- Mensagens -->
        <div class="col-sm-4 container-fluid">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <span class="oi oi-envelope-closed me-2" aria-hidden="true"></span>
                        &nbsp;Mensagens
                    </h5>
                </div>
            </div>
            <div class="card">
                 <div class="card-body row">
                    <div class="col-1"><small class="oi oi-chevron-right" aria-hidden="true"></small></div>
                    <div class="col-11"><small class="card-text">DE:Jussara Fitipaldi – 27/01 10:37 <br /> Rever laudo da Maria do Socorro por Inconsistência de CID</small></div>
                 </div>
            </div>
            <div class="card  text-right">
                <div class="card-body row">
                    <div class="col-11"><small class="card-text">DE:Fernando Fitipaldi – 27/01 11:25 <br /> Laudo revisado e reenviado para você.</small></div>
                    <div class="col-1"><small class="oi oi-chevron-left" aria-hidden="true"></small></div>
                </div>
            </div>
            <div class="card">
                 <div class="card-body row">
                    <div class="col-1"><small class="oi oi-chevron-right" aria-hidden="true"></small></div>
                    <div class="col-11"><small class="card-text">DE:Jussara Fitipaldi – 27/01 10:37 <br /> Faltou assinar o laudo da Maria do Socorro</small></div>
                 </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-outline-primary">Nova mensagem</a>
            </div>

 @*               <div class="card-body">
                    <table>
                        <tr><td><span class="oi oi-chevron-right me-2" aria-hidden="true"></span></td>
                            <td><p class="card-text">DE:Jussara Fitipaldi – 27/01 10:37 /n Rever laudo da Maria do Socorro /n Inconsistência de SID</p></td>
                            <td></td>
                        </tr>
                        <tr><td></td>
                            <td right><p class="card-text text-right">DE:Fernando Fitipaldi – 27/01 11:25 /n Laudo revisado e reenviado para você.</p></td>
                            <td><span class="oi oi-chevron-left me-2" aria-hidden="true"></span></td>
                        </tr>
                        <tr><td><span class="oi oi-chevron-right me-2" aria-hidden="true"></span></td>
                            <td><p class="card-text">DE:Jussara Fitipaldi – 27/01 10:37 /n Faltou assinar o laudo da Maria do Socorro</p></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-outline-primary">Nova mensagem</a>
                </div>
            </div>*@
        </div>

@code {

}
